@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-color: white;
    --text-color: black;
}

.light {
    --bg-color: white;
    --text-color: black;
}

.dark {
    --bg-color: black;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes scroll-description {
    0% { transform: translateY(0%); }
    10% { transform: translateY(0%); }   /* pause at start */
    100% { transform: translateY(-100%); }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.animate-fade-in {
    animation: fade-in 1s ease-in-out forwards;
}
