@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: white;
    --text-color: black;
}

.light {
    --bg-color: white;
    --text-color: black;
}

.dark {
    --bg-color: black;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.test-box {
    @apply w-8 h-8 bg-red-500;
}
