body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background: var(--bg-color);
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color);
    padding: 10px 0;
    width: 100%;
    background: var(--bg-color);
}