.videos-container {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc((100vw / 3) * 9 / 16);
    gap: 15px;
    align-items: start;
    overflow-y: auto;
    max-width: 100%;
}

.video-tile {
    background-color: var(--bg-color);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.video-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}